# IntelliJ project files
*.iml
*.ipr
*.iws
.idea/

# Eclipse project files
.project
.classpath
.settings
.pydevproject
bin/

# Maven files
dependency-reduced-pom.xml
target/

# Java build output
*.jar
*.class

.DS_Store
