<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %-5p  [%c{1}] %m %n</pattern>
		</encoder>
	</appender>

	<!-- Disable all flax logging -->
	<logger name="uk.co.flax" level="TRACE"/>

	<root level="WARN">
		<appender-ref ref="consoleAppender" />
	</root>

</configuration>